# deps
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local

# prisma
packages/database/prisma/*.db

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.tsbuildinfo
