@import "tailwindcss";

@theme {
  --color-brand: #5865f2; /* blurple Discord */
  --color-brand-dark: #4752c4;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-neutral-950 text-neutral-100 antialiased;
}
